body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    grid-column: span 4;
    background-color:#969fa7;
    padding: 15px;
    text-align: right;
    font-size: 1.5em;
    border-bottom: 2px solid #ddd;
    border-radius: 8px 8px 0 0;
}

button {
    grid-column: span 1;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color:#969fa7;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #798194;
}

.operator {
    background-color: rgb(120, 156, 181);
    color: #fff;
}

.equal {
    background-color: #dd5b5b;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.equal:hover {
    background-color: #882b21;
}
